<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        
        <title>Wild Pet Science Setup</title>
    </head>

    <body>
        <h1>Wild Pet Science</h1>
    </body>
</html>
